package {{ package }};

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import javax.validation.constraints.NotNull;

import {{ service_package }};
import {{ entity_package }};

import {{ base_page }}.base.BaseApiService;
import {{ base_page }}.base.BaseResponse;
import javax.validation.Valid;
import java.util.List;
import org.springframework.validation.annotation.Validated;
import {{ vo_package }};
import {{ dto_package }};
import {{ page_entity }};
import {{ update_package }};

/**
 * @author hwr
 * @version V1.0
 * @Description 控制器
 * @date {{ date }}
 * @since V1.0
 */
@Validated
@RestController
@RequestMapping("/{{ title }}/{{ small_class_name }}")
public class {{ class_name }}Controller {

    @Autowired
    private {{ class_name }}Service {{ small_class_name }}Service;

    @Autowired
    private BaseApiService baseApiService;

    /**
	 * @Description: 新增
	 * @since V1.0
	 * @param {{ small_class_name }}
	 */
	@PostMapping(value = "/save" )
    public BaseResponse save(@RequestBody @Valid {{ class_name }}DTO {{ small_class_name }}){
		return baseApiService.setResultSuccess({{ small_class_name }}Service.save({{ small_class_name }}));
	 }

    /**
	 * @Description: 修改
	 * @since V1.0
	 * @param {{ small_class_name }}
	 */
	@PostMapping(value = "/update" )
    public BaseResponse update(@RequestBody @Valid Update{{ class_name }}DTO {{ small_class_name }}){
		return baseApiService.setResultSuccess({{ small_class_name }}Service.update({{ small_class_name }}));
    }

    /**
	 * @Description: 删除
	 * @since V1.0
	 * @param ids
	 */
	@PostMapping(value = "/delete" )
    public BaseResponse delete(@RequestBody List<Long> ids){
		{{ small_class_name }}Service.delete(ids);
		return baseApiService.setResultSuccessMsg("刪除成功");
    }

    /**
	 * @Description: 查询列表
	 * @since V1.0
	 * @param {{ small_class_name }}
	 */
	@GetMapping(value = "/list" )
    public BaseResponse list(@Valid {{ class_name }}DTO {{ small_class_name }}){
		List<{{ class_name }}VO> list = {{ small_class_name }}Service.list({{ small_class_name }});
		return baseApiService.setResultSuccess(list);
    }

    /**
	 * @Description: 分页查询列表
	 * @since V1.0
	 * @param {{ small_class_name }}
	 */
	@GetMapping(value = "/page" )
    public BaseResponse page(@Valid {{ class_name }}PageDTO {{ small_class_name }}){
		return baseApiService.setResultSuccess({{ small_class_name }}Service.page({{ small_class_name }}));
    }


    /**
	 * @Description: 通过ID查询
	 * @since V1.0
	 * @param id
	 */
	@GetMapping(value = "/findById" )
    public BaseResponse findById(@NotNull(message = "id不能为空") Long id){
        return baseApiService.setResultSuccess({{ small_class_name }}Service.findById(id));
    }

}