<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script language="JScript" >
function change(tableList) {
    var html = ""
    for (var i = 0; i < tableList.length; i++) {
        html += '<input type="radio" value="'+ tableList[i] +'" name="table" id="table"/> '+ tableList[i] +'<br/>\n'
    }
    //var tableList = tableListMap.get(index);
    //alert(tableList)
    var tableListDoc = document.getElementById("tableList")
    tableListDoc.innerHTML = html
}
</script>

<body>
    <form action="/createClass" method="post" datatype="application/json">
        <div style="width: 100%; min-height: 200px; border: 0px silver solid;float: left;">
            <h3>选择表格</h3>
            <div style="width: 49.5%;  float: left; " id="tableList">
                 {% for table in tableList[0] %}
                     <input type="radio" value="{{ table }}" name="table" id="table"/>  {{ table }}<br/>
                 {% endfor %}
            </div>

            <div style="width: 49.5%; height: 170px; float:right;">
                <h3>添加业务类</h3>
                <hr/>
                <input type="checkbox" value="1" name="controller" id="controller"/> Controller<br/>
                <input type="checkbox" value="1" name="service" id="service"/> Service<br/>
                <input type="checkbox" value="1" name="dao" id="dao"/> Dao<br/>
                <input type="checkbox" value="1" name="entity" id="entity"/> Entity<br/>
                <input type="checkbox" value="1" name="VO" id="VO"/> VO<br/>
                <input type="checkbox" value="1" name="DTO" id="DTO"/> DTO<br/>
                <input type="checkbox" value="1" name="MD" id="MD"/> MD<br/>
                <br>

                <h3>添加http方法</h3>
                <hr/>
                <input type="checkbox" value="" name="page" id="page"/> page<br/>
                <input type="checkbox" value="" name="list" id="list"/> list<br/>
                <input type="checkbox" value="" name="save" id="save"/> save<br/>
                <input type="checkbox" value="" name="update" id="update"/> update<br/>
                <input type="checkbox" value="" name="delete" id="delete"/> delete<br/>
                <input type="checkbox" value="" name="findById" id="findById"/> findById<br/>
                <br>
            </div>
        </div>
        <hr>
        <p>
        <div style="margin-left: 40%" >
              {% for index in len  %}
                     <button name="{{ index + 1 }}" value="{{ index + 1 }}" type="button" onclick="change({{ tableList[index] }})">{{ index + 1 }}</button>
              {% endfor %}
        </div>
           <br /> <input type="submit" id="commit" name="commit" value=" 提  交 " style="margin-left: 48%">
        </p>
    </form>
    {% if msg %}
        <strong>msg:</strong> {{ msg }}
    {% endif %}
    {% if file_name %}
        <strong>下载文件:</strong> <a href="/download/{{ file_name }}" >{{ file_name }}</a>
    {% endif %}

</body>
</html>