## 目录
* [新增](#1)
* [删除](#2)
* [修改](#3)
* [列表](#4)
* [分页](#5)
* [通过id查找](#6)

##### 作者：黄文榕
##### 时间：{{ date }}
##### 版本：master

## 更新日志
|日期|更新人|更新内容|
|---|---|---|
|{{ date }} |黄文榕  |初始化 |

<h2 id="1">新增</h2>

- 新增

##### 请求URL
- `/{{ title }}/{{ small_class_name }}/save `

##### 请求方式
- POST

##### 参数

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
{{ insert }}

##### 请求示例
```
{{ json | safe }}
```

##### 返回参数说明

|参数名|类型|说明|
|---|---|---|
|code |Integer   |返回码|
|msg| String|返回消息|
|data| Json |数据|

date:

|参数名|类型|说明|
|---|---|---|
{{ result }}

##### 返回示例

```
 {
    "code": 200,
    "msg": "操作成功!",
    "data":{{ json | safe }}
    }
```

<h2 id="2">删除</h2>

- 删除

##### 请求URL
- `/{{ title }}/{{ small_class_name }}/delete `

##### 请求方式
- POST

##### 参数

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|ids |是  |list |id列表   |

##### 请求示例
```
{ [1,2,3]}
```

##### 返回参数说明

|参数名|类型|说明|
|---|---|---|
|code |Integer   |返回码|
|msg| String|返回消息|
|data| Json |数据|


##### 返回示例

```
 {
    "code": 200,
    "msg": "操作成功!",
    }
```

<h2 id="3">修改</h2>

- 修改

##### 请求URL
- `/{{ title }}/{{ small_class_name }}/update `

##### 请求方式
- POST

##### 参数

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
{{ update }}


##### 请求示例
```
{{ json | safe }}
```

##### 返回参数说明

|参数名|类型|说明|
|---|---|---|
|code |Integer   |返回码|
|msg| String|返回消息|
|data| Json |数据|

date:

|参数名|类型|说明|
|---|---|---|
{{ result }}

##### 返回示例

```
 {
    "code": 200,
    "msg": "操作成功!",
    "data":
        {{ json | safe }}

    }
```

<h2 id="4">列表</h2>

- 列表

##### 请求URL
- `/{{ title }}/{{ small_class_name }}/list `

##### 请求方式
- GET

##### 参数

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
{{ update }}


##### 返回参数说明

|参数名|类型|说明|
|---|---|---|
|code |Integer   |返回码|
|msg| String|返回消息|
|data| Json |数据|

date:

|参数名|类型|说明|
|---|---|---|
{{ result }}


##### 返回示例

```
 {
    "code": 200,
    "msg": "操作成功!",
    "data": [
        {{ json | safe }}
        ]
    }
```

<h2 id="5">分页</h2>

- 分页

##### 请求URL
- `/{{ title }}/{{ small_class_name }}/page `

##### 请求方式
- GET

##### 参数

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|limit | Y | Integer | 每页限制大小 |
|pageN0 | Y | Integer | 页码 |
{{ find }}

##### 返回参数说明

|参数名|类型|说明|
|---|---|---|
|code |Integer   |返回码|
|msg| String|返回消息|
|data| Json |数据|

date:

|参数名|类型|说明|
|---|---|---|
{{ result }}


##### 返回示例

```
 {
    "code": 200,
    "msg": "操作成功!",
    "data": [
        {{ json | safe }}
        ]
    }
```


<h2 id="6">通过Id查找</h2>

- 通过Id查找

##### 请求URL
- `/{{ title }}/{{ small_class_name }}/findById `

##### 请求方式
- GET

##### 参数

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|Id |是  |Long |id   |

##### 返回参数说明

|参数名|类型|说明|
|---|---|---|
|code |Integer   |返回码|
|msg| String|返回消息|
|data| Json |数据|

date:

|参数名|类型|说明|
|---|---|---|
{{ result }}

##### 返回示例

```
 {
    "code": 200,
    "msg": "操作成功!",
    "data": [
        {{ json | safe }}
        ]
    }
```
