## 目录
* [新增](#1)
* [删除](#2)
* [修改](#3)
* [列表](#4)
* [分页](#5)

##### 作者：黄文榕
##### 时间：{{ date }}
##### 版本：master

## 更新日志
|日期|更新人|更新内容|
|---|---|---|
|{{ date }} |黄文榕  |初始化 |

<h2 id="1">新增</h2>

- 新增

##### 请求URL
- `/{{ title }}/{{ small_class_name }}/save `

##### 请求方式
- POST

##### 参数

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|username |是  |string |用户名   |
|password |是  |string | 密码    |
|name     |否  |string | 昵称    |

##### 请求示例
```
{}
```

##### 返回参数说明

|参数名|类型|说明|
|---|---|---|
|code |Integer   |返回码|
|msg| String|返回消息|
|data| Json |数据|

date:

|参数名|类型|说明|
|---|---|---|


##### 返回示例

```
 {
    "code": 200,
    "msg": "操作成功!",
    "data": [
        ]
    }
```

<h2 id="2">删除</h2>

- 新增

##### 请求URL
- `/{{ title }}/{{ small_class_name }}/save `

##### 请求方式
- POST

##### 参数

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|username |是  |string |用户名   |
|password |是  |string | 密码    |
|name     |否  |string | 昵称    |

##### 请求示例
```
{}
```

##### 返回参数说明

|参数名|类型|说明|
|---|---|---|
|code |Integer   |返回码|
|msg| String|返回消息|
|data| Json |数据|

date:

|参数名|类型|说明|
|---|---|---|


##### 返回示例

```
 {
    "code": 200,
    "msg": "操作成功!",
    "data": [
        ]
    }
```

<h2 id="3">修改</h2>

- 新增

##### 请求URL
- `/{{ title }}/{{ small_class_name }}/save `

##### 请求方式
- POST

##### 参数

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|username |是  |string |用户名   |
|password |是  |string | 密码    |
|name     |否  |string | 昵称    |

##### 请求示例
```
{}
```

##### 返回参数说明

|参数名|类型|说明|
|---|---|---|
|code |Integer   |返回码|
|msg| String|返回消息|
|data| Json |数据|

date:

|参数名|类型|说明|
|---|---|---|


##### 返回示例

```
 {
    "code": 200,
    "msg": "操作成功!",
    "data": [
        ]
    }
```

<h2 id="4">列表</h2>

- 新增

##### 请求URL
- `/{{ title }}/{{ small_class_name }}/save `

##### 请求方式
- POST

##### 参数

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|username |是  |string |用户名   |
|password |是  |string | 密码    |
|name     |否  |string | 昵称    |

##### 请求示例
```
{}
```

##### 返回参数说明

|参数名|类型|说明|
|---|---|---|
|code |Integer   |返回码|
|msg| String|返回消息|
|data| Json |数据|

date:

|参数名|类型|说明|
|---|---|---|


##### 返回示例

```
 {
    "code": 200,
    "msg": "操作成功!",
    "data": [
        ]
    }
```

<h2 id="5">分页</h2>

- 新增

##### 请求URL
- `/{{ title }}/{{ small_class_name }}/save `

##### 请求方式
- POST

##### 参数

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|username |是  |string |用户名   |
|password |是  |string | 密码    |
|name     |否  |string | 昵称    |

##### 请求示例
```
{}
```

##### 返回参数说明

|参数名|类型|说明|
|---|---|---|
|code |Integer   |返回码|
|msg| String|返回消息|
|data| Json |数据|

date:

|参数名|类型|说明|
|---|---|---|


##### 返回示例

```
 {
    "code": 200,
    "msg": "操作成功!",
    "data": [
        ]
    }
```
